<a
  href="./blog-details.html"
  class="group overflow-hidden rounded-2xl bg-[#F7F7F8]"
  data-aos="fade-up"
  data-aos-delay="300"
  data-aos-duration="1000"
>
  <div class="h-60 overflow-hidden lg:h-75">
    <img
      src="<%= img %>"
      alt=""
      class="h-full w-full object-cover duration-500 group-hover:scale-105"
    />
  </div>
  <div class="space-y-5 p-6">
    <div class="space-y-2">
      <p class="text-n500">Insight March 12, 2025</p>
      <h2 class="text-xl lg:text-2xl"><%= title %></h2>
    </div>
    <div class="flex items-center justify-start gap-3">
      <img
        src="<%= userImg %>"
        alt=""
        class="size-10 rounded-full object-cover"
      />
      <p class="font-bold">Dana Horowitz</p>
    </div>
  </div>
</a>
