<section class="bg-bgColor">
  <div
    class="relative container pt-20 pb-18 text-center sm:pt-30 sm:pb-24 lg:pt-45 lg:pb-30"
  >
    <img
      src="./assets/images/breadcrumb-illus-1.png"
      alt=""
      class="3xl:-left-10 absolute bottom-0 left-0 max-lg:w-30 max-sm:w-18"
    />
    <img
      src="./assets/images/breadcrumb-illus-2.png"
      alt=""
      class="3xl:-right-20 absolute right-0 bottom-0 max-lg:w-30 max-sm:w-18"
    />
    <h1 class="heading-2"><%= title %></h1>
  </div>
</section>
