<section class="stp-30 sbp-30 container">
  <div
    class="flex items-center justify-between gap-6 max-xl:flex-col max-xl:items-start"
  >
    <div class="flex max-w-170 flex-col items-start justify-start">
      <p
        class="bg-primary mb-4 rounded-full px-4 py-1 max-sm:text-sm sm:py-1.5"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        Features
      </p>
      <h2
        class="text-2xl font-medium sm:text-3xl md:text-4xl lg:text-5xl"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        Instant Connection and Safer Browsing with eSIMX
      </h2>
      <p
        class="text-n500 pt-4 max-sm:text-sm sm:pt-6"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        Do you travel often, live abroad, or simply need reliable mobile data on
        the go? esimx makes it simple to stay connected, wherever life takes
        you.
      </p>
    </div>
    <a href="" class="btn-primary">View all destinations</a>
  </div>
  <div class="stp-15 grid gap-6 lg:grid-cols-2">
    <div
      class="bg-primary/20 relative flex flex-col justify-between overflow-hidden rounded-xl sm:rounded-2xl xl:rounded-4xl"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <img
        src="./assets/images/home2-service-bg-1.png"
        alt=""
        class="absolute top-0 right-0 left-0 w-full"
      />
      <div class="relative z-10 px-6 pt-6 pb-3 sm:px-10 sm:pt-10">
        <p class="text-xl font-medium sm:text-2xl lg:text-3xl xl:text-[32px]">
          Connect Instantly
        </p>
        <p class="text-n500 pt-3 pb-6 max-sm:text-sm sm:pb-10">
          eSIMX is a hassle-free solution - just choose your data plan and get
          ready to travel! When you arrive at your destination, you can go
          online right away.
        </p>
        <div
          class="shadow-1 flex w-57 items-center justify-between rounded-xl bg-white px-3 py-2"
        >
          <div class="flex items-center justify-start gap-3">
            <div class="f-center bg-primary size-10 rounded-full">
              <img src="./assets/images/sim.svg" alt="" />
            </div>
            <p class="font-alexandria!">eSIM #1</p>
          </div>
          <p
            class="rounded-full bg-green-50 px-2 py-1 text-[13px] text-green-500"
          >
            Installed
          </p>
        </div>
      </div>

      <div class="flex justify-end">
        <img src="./assets/images/service-imga.png" alt="" class="" />
      </div>
    </div>
    <div
      class="relative flex flex-col justify-between overflow-hidden rounded-xl bg-[#9FCFF2] sm:rounded-2xl xl:rounded-4xl"
      data-aos="fade-up"
      data-aos-delay="100"
      data-aos-duration="1000"
    >
      <div class="relative z-10 px-6 pt-6 pb-3 sm:px-10 sm:pt-10">
        <p class="text-xl font-medium sm:text-2xl lg:text-3xl xl:text-[32px]">
          Best Pricing Data Plan Ever
        </p>
        <p class="text-n500 pt-3 pb-6 max-sm:text-sm sm:pb-10">
          Getting a local SIM at the airport or train station can be a hassle.
          With an eSIM, you won't have to wait in line or deal with sketchy
          sellers offering SIM cards that might not even work.
        </p>
      </div>

      <div class="flex items-start justify-start">
        <img src="./assets/images/service-img-2.png" alt="" class="w-full" />
      </div>
    </div>
    <div
      class="relative grid gap-6 overflow-hidden rounded-xl bg-[#FFE4D0] px-6 pt-6 sm:rounded-2xl md:grid-cols-2 lg:col-span-2 lg:px-10 lg:pt-10 xl:rounded-4xl"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <img
        src="./assets/images/service-map-bg.png"
        alt=""
        class="absolute top-0 bottom-0 left-0"
      />

      <img
        src="./assets/images/plane-illus-bg.png"
        alt=""
        class="absolute right-10 bottom-0"
      />
      <div
        class="relative z-10 flex items-center justify-center max-lg:items-end max-md:order-0"
      >
        <img src="./assets/images/service-img-3.png" alt="" />
      </div>
      <div
        class="relative z-10 flex flex-col items-start justify-center pb-6 max-md:order-1"
      >
        <p class="text-xl font-medium sm:text-2xl lg:text-3xl xl:text-[32px]">
          Stay Protected Online
        </p>
        <p class="text-n500 pt-3 max-sm:text-sm">
          When abroad, sometimes your only internet option is a slow Wi-Fi
          network in a shady coffee shop. With an eSIM data plan, you'll always
          have a secure and reliable connection.
        </p>
        <div class="flex items-start justify-start pt-6">
          <a
            href=""
            class="rounded-xl border px-4 py-2 text-sm duration-300 hover:bg-black hover:text-white sm:px-6 sm:py-3 sm:text-base xl:text-lg"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <div
      class="bg-secondary/15 relative flex flex-col justify-between overflow-hidden rounded-xl sm:rounded-2xl xl:rounded-4xl"
      data-aos="fade-up"
      data-aos-delay="100"
      data-aos-duration="1000"
    >
      <div class="relative z-10 px-6 pt-6 pb-3 sm:px-10 sm:pt-10">
        <p class="text-xl font-medium sm:text-2xl lg:text-3xl xl:text-[32px]">
          Money-Back Guarantee
        </p>
        <p class="text-n500 pt-3 pb-6 max-sm:text-sm">
          Not satisfied? Get a full refund, hassle-free! If our eSIM doesn’t
          work, we’ll refund your money. We stand by our service, no questions
          asked. Get a refund if your eSIM doesn’t activate as promised.
          Reliable service with a money-back guarantee.
        </p>
      </div>

      <div class="f-center">
        <img src="./assets/images/service-image-4.png" alt="" class="" />
      </div>
    </div>
    <div
      class="relative flex flex-col justify-between overflow-hidden rounded-2xl bg-[#F6ECF8]"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="relative z-10 px-6 pt-6 pb-3 sm:px-10 sm:pt-10">
        <p class="text-xl font-medium sm:text-2xl lg:text-3xl xl:text-[32px]">
          Invite Friends & Get Rewarded!
        </p>
        <p class="text-n500 pt-3 pb-6 max-sm:text-sm">
          Earn commission every time someone signs up through your referral
          link. The more you share, the more you earn — there’s no limit! Your
          friend benefits too with exclusive rewards or discounts. It’s quick,
          easy, and totally free to join. Start sharing today and turn your
          connections into real income!
        </p>
      </div>

      <div class="f-center -mt-12">
        <img src="./assets/images/service-image-5.png" alt="" class="w-full" />
      </div>
    </div>
  </div>
</section>
