<div class="relative">
  <div class="f-center absolute right-0 bottom-0 left-0">
    <img
      src="./assets/images/world-map.webp"
      alt=""
      class="h-240 min-h-200 w-full object-cover"
    />
  </div>
  <section class="stp-30 relative z-10 px-2">
    <div
      class="container grid grid-cols-12 gap-6 rounded-xl bg-[#4AC1DD] pt-8 sm:rounded-2xl lg:pt-10 xl:rounded-4xl"
    >
      <div
        class="col-span-12 flex flex-col justify-center space-y-6 ps-6 md:col-span-6 lg:col-span-5 lg:ps-15"
      >
        <h2
          class="text-3xl font-semibold sm:text-4xl xl:text-5xl"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          Your <span class="text-primary">eSIMX</span> Is Just One Click Away
        </h2>
        <p class="pt-6" data-aos="fade-down" data-aos-duration="1000">
          Choose a plan, scan the QR code, and enjoy seamless global
          connectivity in minutes.
        </p>

        <div class="flex justify-start">
          <a href="./destinations.html" class="btn-secondary"
            >View Destinations</a
          >
        </div>
      </div>
      <div
        class="col-span-12 max-sm:flex max-sm:items-center max-sm:justify-center md:col-span-6 lg:col-start-7"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        <img
          src="./assets/images/mobile-hand.png"
          alt=""
          class="max-sm:h-62.5"
        />
      </div>
    </div>
  </section>

  <section class="stp-15 relative z-10">
    <div
      class="container flex flex-wrap items-start justify-between gap-6 pb-10 lg:pb-20 xl:pb-25"
    >
      <div
        class="max-w-95 space-y-6"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <a href="./index.html" class="block">
          <img src="./assets/images/logo_black.png" alt="" />
        </a>

        <p class="text-n500">
          eSIM is a leading provider of eSIM services, offering seamless and
          hassle-free connectivity for travelers, digital nomads, and businesses
          worldwide. With our innovative eSIM technology, you can enjoy instant
          activation and coverage in multiple countries.
        </p>
        <div class="flex items-center justify-start gap-3">
          <a href="" class="block">
            <img src="./assets/images/app-store1.png" alt="" />
          </a>
          <a href="" class="block">
            <img src="./assets/images/google-play1.png" alt="" />
          </a>
        </div>
      </div>
      <div
        class="space-y-6"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
      >
        <p class="text-xl font-bold">Quick Links</p>
        <ul class="text-n500 space-y-4">
          <li>
            <a href="./index.html" class="hover:text-secondary font-satoshi!"
              >Home</a
            >
          </li>
          <li>
            <a
              href="./destinations.html"
              class="hover:text-secondary font-satoshi!"
              >Destinations</a
            >
          </li>
          <li>
            <a href="./blogs.html" class="hover:text-secondary font-satoshi!"
              >Blog</a
            >
          </li>
          <li>
            <a
              href="./contact-us.html"
              class="hover:text-secondary font-satoshi!"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div
        class="space-y-6"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="1000"
      >
        <p class="text-xl font-bold">Useful Links</p>
        <ul class="text-n500 space-y-4">
          <li>
            <a href="" class="hover:text-secondary font-satoshi!"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href="" class="hover:text-secondary font-satoshi!"
              >Terms of Service</a
            >
          </li>
          <li>
            <a href="" class="hover:text-secondary font-satoshi!"
              >Terms of Service</a
            >
          </li>
          <li>
            <a href="" class="hover:text-secondary font-satoshi!"
              >Help Center</a
            >
          </li>
        </ul>
      </div>
      <div
        class="max-w-55 space-y-6"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        <p class="text-xl font-bold">Contact</p>
        <ul class="text-n500 space-y-4">
          <li class="flex items-start justify-start gap-2">
            <i class="ph ph-envelope-simple text-2xl"></i>
            <a href="mailto:Support@esimx.com" class="font-satoshi!"
              >Support@eximx.com</a
            >
          </li>
          <li class="flex items-start justify-start gap-2">
            <i class="ph ph-phone-call text-2xl"></i>
            <a href="tel:+0111111111" class="font-satoshi!"
              >+1 (555) 123-4567</a
            >
          </li>
          <li class="flex items-start justify-start gap-2">
            <i class="ph ph-map-pin text-2xl"></i>
            <p class="font-satoshi!">
              123 Healthcare St.Medical District, CA 90210
            </p>
          </li>
          <li class="flex items-start justify-start gap-2">
            <i class="ph ph-clock text-2xl"></i>
            <a href="mailto:Support@esimx.com" class="font-satoshi!">
              24/7 Support Available
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="border-n20 container flex flex-wrap items-center justify-between gap-3 border-t pt-6 pb-4"
    >
      <p class="text-n500">© 2026 eSIMX. All rights reserved.</p>
      <div class="flex items-center justify-start gap-3 text-lg">
        <a href="" class="f-center bg-n20 hover:bg-primary size-10 rounded-lg">
          <i class="ph-fill ph-facebook-logo"></i>
        </a>
        <a href="" class="f-center bg-n20 hover:bg-primary size-10 rounded-lg">
          <i class="ph-fill ph-x-logo"></i>
        </a>
        <a href="" class="f-center bg-n20 hover:bg-primary size-10 rounded-lg">
          <i class="ph-fill ph-linkedin-logo"></i>
        </a>

        <a href="" class="f-center bg-n20 hover:bg-primary size-10 rounded-lg">
          <i class="ph-fill ph-youtube-logo"></i>
        </a>
      </div>
    </div>
  </section>
</div>
