<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= name %> - Buy eSIMs for international travel</title>
<link
  rel="stylesheet"
  type="text/css"
  href="./assets/css/plugins/phosphor/regular/style.css"
/>
<link rel="stylesheet" href="./assets/css/plugins/phosphor/fill/style.css" />
<link rel="stylesheet" href="./assets/css/plugins/phosphor/bold/style.css" />
<link rel="shortcut icon" href="./assets/images/fav.png" type="image/x-icon" />
