<section class="stp-30 sbp-30 relative bg-[#F7F7F8]">
  <img
    src="./assets/images/how-works-illus.png"
    class="absolute top-6 left-2 max-lg:w-30 max-md:w-20 md:top-30"
    alt=""
  />
  <div class="container">
    <div
      class="mx-auto flex max-w-170 flex-col items-center justify-center text-center"
    >
      <p
        class="bg-primary mb-4 rounded-full px-4 py-1 max-sm:text-sm sm:py-1.5"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        How It’s Work
      </p>
      <h2
        class="text-3xl font-medium sm:text-4xl lg:text-5xl"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        How does eSIMX work?
      </h2>
      <p
        class="text-n500 mx-auto max-w-103 pt-4 sm:pt-6"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        If you want to purchase an eSIM plan, follow these steps to activate it.
      </p>
    </div>
    <div class="stp-15 grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      <div
        class="relative flex flex-col justify-start rounded-4xl bg-white p-6 sm:p-8"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div
          class="f-center size-14 rounded-full bg-[#FF8832] text-3xl text-white sm:size-17.5 sm:text-[40px]"
        >
          <i class="ph ph-airplane-takeoff"></i>
        </div>
        <p
          class="font-alexandria! absolute end-8 top-0 text-[60px] font-semibold text-[#FDDCC3] sm:-top-4 sm:text-[90px] rtl:right-[calc(100%-64px)]"
        >
          1
        </p>
        <div class="pt-5 pb-8">
          <h3 class="text-xl font-medium sm:text-2xl xl:max-w-[80%]">
            Choose a eSIM data plan for your trip
          </h3>
          <p class="text-n500 pt-2 max-sm:text-sm">
            Choose an eSIM destination for your trip and instantly access
            affordable mobile data plans tailored to your travel needs
          </p>
        </div>
        <div class="flex flex-1 items-end justify-center">
          <img src="./assets/images/how-works-img-1.png" alt="" />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start rounded-4xl bg-white p-6 sm:p-8"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
      >
        <div
          class="f-center bg-secondary size-14 rounded-full text-3xl text-white sm:size-17.5 sm:text-[40px]"
        >
          <i class="ph ph-note-pencil"></i>
        </div>
        <p
          class="font-alexandria! text-secondary/40 absolute end-8 top-0 text-[60px] font-semibold sm:-top-4 sm:text-[90px] rtl:right-[calc(100%-64px)]"
        >
          2
        </p>
        <div class="pt-5 pb-2">
          <h3 class="max-w-62.5 text-xl font-medium sm:text-2xl">
            Purchase a eSIMX Best Plan
          </h3>
          <p class="text-n500 pt-2 max-sm:text-sm">
            Securely complete your payment for the eSIM and get instant access
            to your mobile data plan.
          </p>
        </div>
        <div class="flex flex-1 items-end justify-center">
          <img src="./assets/images/how-works-img-2.png" alt="" />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start rounded-4xl bg-white p-6 sm:p-8"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="1000"
      >
        <div
          class="f-center size-14 rounded-full bg-[#85CCDB] text-3xl text-white sm:size-17.5 sm:text-[40px]"
        >
          <i class="ph ph-qr-code"></i>
        </div>
        <p
          class="font-alexandria! absolute end-8 top-0 text-[60px] font-semibold text-[#85CCDB]/60 sm:-top-4 sm:text-[90px]"
        >
          3
        </p>
        <div class="pt-5 pb-8">
          <h3 class="text-xl font-medium sm:text-2xl 2xl:max-w-[80%]">
            Activated eSIM & Enjoy staying connected!
          </h3>
          <p class="text-n500 pt-2 max-sm:text-sm">
            Scan the eSIM QR code to activate your plan instantly. Once
            activated, you're all set to enjoy.
          </p>
        </div>
        <div class="flex flex-1 items-end justify-center">
          <img src="./assets/images/how-works-img-3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
