<button
  class="jumping1 scrollButton scrollButtonHide hover:bg-secondary hover:border-secondary text-secondary fixed right-6 z-40 flex size-10 items-center justify-center rounded-full border text-xl duration-700 hover:text-white sm:text-2xl md:right-10"
  aria-label="bottom to top button"
>
  <i class="ph ph-arrow-up"></i>
</button>
